form {
  display: flex;
  justify-content: space-evenly;
}

.todo__input {
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 20px;
  border: 1px solid #999;
}

.button {
  width: auto;
  padding: 10px;
  border-radius: 3px;
  border: none;
  color: #fff;
  background: #737575;
}